<!DOCTYPE html>
<head>

</head>
<body>
    <form action="/user/login" method="POST">
        <div>
            <label for="username">username</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
    <a href="/user/register">sign up</a>
</body>