<!DOCTYPE html>
<head>

</head>
<body>
<h1>Upload Your Image Here</h1>

<form action="/design/upload" enctype="multipart/form-data" method="POST">
    <input type="file" name="design" multiple>
    <button>UPLOAD IMAGE NOW</button>
</form>

</body>